$green:#066E4B;

.content{

    .container{
        padding: 1rem 0;
        display: flex;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        flex-direction: column;
    }

    .content-top-border{
        border-top: 2px solid #bbbbbb ;
    }

    .button-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-promo{
       height: 450px;
    }
    .container-head{
        font-size: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .content-products{
        font-size: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .product-list{
        display: flex;
        flex:1;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        .product{
            background-color: #F7F7F7;
            margin:24px;
            width: 400px;
            display: flex;
            flex-direction: column;
            text-align: center;
            border:2px solid #ddd;
            border-radius: 10px;
            .product-head{
                border-bottom: 2px solid #ddd;
            }
            .product-body{
                display: flex;
                flex-direction: column;
                
                img{
                    height: 300px;
                    margin: 10px;
                }
                
            }
            .product-footer{
                border-top: 2px solid #ddd;
            }
        }}

    }
}
.btn { 
    font-size: 20px;
    border:2px solid #F5F5F5;
    border-radius: 32px;
    border:2px solid #F5F5F5;
    border-radius: 32px;
    padding:6px 15px;
    /* outline отвечает за рамку при выделении синюю такую */
    outline:none;

    & .btn-large{
        padding:12px 20px;
    }
}
.btn-default{
    background-color: white;
    color: #B2B2B2;
    &:hover{
        background-color: rgb(244,244,244);
        border-color:rgb(192, 192, 192);
    }
    &:active, /* поддержка через псевдокласс */
    &.active{ /* через класс обычный */
        background-color: rgb(232,232,232);
        border-color:rgb(192, 192, 192);
    }
}
.btn-group{
    display: inline-flex;
    .btn {
        &+.btn{
            margin-left: -1px;
        }
        &:not(:last-child){
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:not(:first-child){
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            
        }
    }
}


.content-inverse{
    background-color: #F7F7F7;
}

.content-breadcrumb{
    padding: 1rem;
    .link{
        padding-top: 0;
        padding-bottom: 0;
    }
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    &-align-stretch{
        align-items: stretch;
    }
    &-around{
        justify-content: space-around;
    }

    &-between{
        justify-content: space-between;
    }
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:0 0.5rem;
}



.badge{
    padding: 5px 10px;
    border-radius: 20px;
}

.badge-green{
    background-color: $green;
    color:white;
}

.breadcrumb{
    list-style: none;
    display: flex;

    .breadcrumb-item+.breadcrumb-item{
        margin-left: .5rem;

        &:before{
            display: inline-block;
            padding-right: .5rem;
            color: #6c757d;
            content: ">";
        }
    }
}


ul{
    padding-left: 1rem;
}