.header-menu {
    display: flex;
    color: #066E4B !important;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    background-attachment:fixed; 
}

.header-link ,
.link{
    color: #066E4B;
    text-decoration: none;
    padding: 19px 20px;
}

.header-link_active,
.link:hover {
    font-weight: bold;
}

.header-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.header-search {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.header-search-prepend {
    display: flex;
}

.header-search-prepend button {
    display: inline block;
    background-color: white;
    color: #066E4B;
    border: 2px solid #F5F5F5;
    border-radius: 40px;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-right: none;
    padding: 11px 23px;
    font-size: 16px;
     transition: all 500ms;
}

.header-search:hover * {
    border-color: #066E4B;
    transition: all 500ms;
}
.dropdown {
    position: relative;
    display: inline-block;
    color: #066E4B;
}

.dropdown-content {
    margin-left: -130px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    .ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
    }
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li{
    list-style: none;
}
.dropdown-item :visited{
    color: #066E4B;
}
.dropdown-item{
    text-decoration: none;
}
.col-sm-9{
    display: flex;
    padding: 2px;
}
.card-footer{
    display: flex;
    justify-content: center;
}